/* styles.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#avis-table {
    margin-top: 20px;
}

#avis-table th {
    font-weight: bold;
}

#avis-table td {
    padding: 8px 0;
}
